.container{
    display: flex;
    
}
.card{
    margin: 30px;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paginationItem.active {
    background-color: #999;
}

.prev,
.next {
    background: #666 !important; /* Background color set to grey */
    border: none !important;
    padding: 10px !important;
    color: #fff !important; /* Text color set to white */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) !important;
    margin: 0 10px !important;
    cursor: pointer !important;
    border-radius: 50% !important; /* Make the button circular */
    width: 45px !important; /* Set width and height to match pagination item */
    height: 45px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 16px !important; /* Adjust font size */
}


.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}
.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-info {
    margin-right: 10px;
  }
  
  .button-group {
    display: flex;
  }
  