<nav class="navbar navbar-expand-md navbar-white nav-width custom-navbar">

    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="assets/images/foodfeast2.png" alt="Your Logo" height="80" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user-page">Home</a>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="show-emps">My Reservation</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/menu">Menu</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us">About Us</a>
                </li>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cart">Cart </a> 
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="logout">Logout</a>
                        </li> -->
                    </ul>
                   
                </form>
               
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/landing-page">Logout</a>
                    </li>
                </ul>
            </form> 
        </div>
    </div>
  </nav>
  
  <br>
  <br>
  <br>


<div class="card-container row">
    <div class="col-lg-3 " *ngFor="let product of curbsideProducts">
      <div class="card">
        <img [src]="product.imgUrl" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h3 class="card-title">{{ product.productName }}</h3>
          <p class="card-title">{{ product.description }}</p>
          <p class="card-text">Price: {{ product.price }}/-</p>
          <div class="order-now-container">
            <a href="/cart" class="btn btn-primary" (click)="addToCart(product)">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  