<nav class="navbar navbar-expand-md navbar-white nav-width custom-navbar">

        <div class="container-lg">
            <a class="navbar-brand" href="#">
                <img src="assets/images/foodfeast2.png" alt="Your Logo" height="80" width="120">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Home</a>
                    </li>
                   
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li> 
                       
                </ul>
            </div>
        </div>
    </nav>
    
<app-carousel></app-carousel>

  <div class="background-container">
    <img src="https://rayalaseemaruchulu.com/assets/images/cream-background.jpg" class="background-image" alt="Background Image">

    <div class="content-overlay">
        <h2 class="food-h2">WHERE FOOD IS MAGIC</h2>
        <img src="https://rayalaseemaruchulu.com/assets/images/menu-page-img.png" class="content-image">
        <div class="food-text">
           <p>Food Feast strives to show that cuisines from Telangana and Andhra are not only about spice but beautiful, complex flavours.</p>
           <p>Our chefs take age old traditional recipes, hand chosen spices, farm fresh products and along with years of experience serve food that will make you reminiscent of your mother's food.</p>
           <p>We have added a new chapter to Food Feast - with our cloud kitchens. Through this new venture, we offer a plethora of flavours with the utmost hygiene standards. Indulge in some authentic Asian food flavours at Oriental Tales; taste the flavours of the pind at Punjabi Tales and find the all tome classic at Biryani Tales.</p>
        </div>
    </div>
</div>

<ngb-carousel style="width: 100vw; height: 50vh;">
    <ng-template ngbSlide>
      <img src="https://indiarestaurant.co.in/assets/images/backgrounds/1.jpg" alt="First slide" class="carousel-image">
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://indiarestaurant.co.in/assets/images/backgrounds/2.jpg" alt="Second slide" class="carousel-image">
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://indiarestaurant.co.in/assets/images/backgrounds/3.jpg" class="carousel-image">
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://indiarestaurant.co.in/assets/images/backgrounds/4.jpg" class="carousel-image">
    </ng-template>
    <ng-template ngbSlide>
      <img src="https://indiarestaurant.co.in/assets/images/backgrounds/5.jpg" class="carousel-image">
    </ng-template>
  </ngb-carousel>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
    




